{{#each books as |book|}}
  <div class="book">
    <h5>{{title}}</h5>
    <h5>{{author}}</h5>
    <h5>{{year_published}}</h5>

      <button class="update" data-id="{{book.id}}">Edit</button> <button class="removeBook" data-id="{{book.id}}">Remove</button>

  <hr>
  </div>
  {{/each}}
